<button mat-icon-button>
  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
</button>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      <a matSubheader><b>Rendezési szempont:</b></a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="this.sortTitle()"> Név (A-Z) </a>
      <a mat-list-item (click)="this.sortPublish()"> Megjelenés </a>
      <a mat-list-item (click)="this.sortUpdate()"> Utolsó frissítés </a>
      <a mat-list-item (click)="this.sortProcessed()"> Utolsó lekérdezés </a>
      <mat-divider></mat-divider>
      <a matSubheader><b>Keresés:</b></a>
      <mat-divider></mat-divider>
      <form style="padding: 13px;">
          <mat-form-field>
              <input matInput placeholder="Hely" (keyup)="this.onKeyPlace($event)">
          </mat-form-field>
          <p></p>
          <mat-form-field>
              <input matInput placeholder="Kategória" (keyup)="this.onKeyCategory($event)">
          </mat-form-field>
      </form>
      <mat-divider></mat-divider>
      <a mat-list-item matSubheader (click)="sidenav.toggle()"> Vissza </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="padding: 13px; height: 88vh;">
      <mat-spinner *ngIf="incidents.length === 0"></mat-spinner>

      <mat-card *ngFor="let incident of incidentsShown" style="margin-top:10px;">
        <mat-card-header>
          <mat-card-title>{{ incident.title }}</mat-card-title>
          <mat-card-subtitle
            >Megjelenés:
            {{ incident.created * 1000 | date: "yyyy.MM.dd HH:mm" }}, Utolsó
            frissítés: {{ incident.updated * 1000 | date: "yyyy.MM.dd HH:mm" }},
            Utolsó lekérdezés:
            {{
              incident.processed * 1000 | date: "yyyy.MM.dd HH:mm"
            }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Hely: {{ incident.locations }}, Kategória:
            {{ incident.categories }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <a mat-button (click)="this.updateIncident()">Ismételt lekérdezés</a>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
